services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 3600:3600
    depends_on:
      db:
        condition: service_healthy
    env_file: ./.env
    volumes:
      - .:/app

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${DB_PASSWORD}
      MSSQL_PID: "Developer"
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "${DB_PASSWORD}" -Q "SELECT 1" -C -b
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    ports:
      - "${DB_PORT}:1433"
    volumes:
      - db-data:/var/opt/mssql

volumes:
  db-data: null
